<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Listado de laptops</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirCarrito()" >
      <div class="cart-length">{{ carritoCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>

  </ion-fab>

  <ion-card *ngFor="let l of listaPC">
    <ion-img [src]="l.foto" loading="lazy"></ion-img>
    <ion-card-header>
      <ion-card-title>
        {{l.modelo}}
      </ion-card-title>
      <ion-card-subtitle>
        {{l.marca}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Descripcion: {{l.descripcion}}</ion-label>
      <ion-chip>{{l.precio | currency:'CLP'}}</ion-chip>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="cargarMas()">
    <ion-infinite-scroll-content loadingText="cargando">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
