<br><br>
<div *ngIf="modo == 'listado'">
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-title>Listado de laptops</ion-title>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="crearFormularioRegistro()">Nueva laptop</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item *ngFor="let x of laptops" (click)="verLaptop(x.id)">
    <ion-label>{{x.marca}} {{x.modelo}} - ${{x.precio}}</ion-label>
  </ion-item>
</div>
<div *ngIf="modo == 'registro'">
  <div align="center">
    <ion-title>Nueva laptop</ion-title>
  </div><br>
  <ion-text>Información básica</ion-text>
  <form [formGroup]="formularioRegistroBasico">
    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input formControlName="marca"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Modelo</ion-label>
      <ion-input formControlName="modelo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input (change)="leerArchivo($event)" formControlName="foto" type="file"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input formControlName="precio" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Stock</ion-label>
      <ion-input formControlName="stock" type="number"></ion-input>
    </ion-item>
  </form><br>
  <ion-text>Especificaciones</ion-text>
  <form [formGroup]="formularioRegistroDetalles">
    <ion-item>
      <ion-label position="floating">Procesador</ion-label>
      <ion-input formControlName="cpu"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Memoria</ion-label>
      <ion-input formControlName="ram"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Disco duro</ion-label>
      <ion-input formControlName="disco"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pantalla</ion-label>
      <ion-input formControlName="pantalla"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tarjeta gráfica</ion-label>
      <ion-input formControlName="grafica"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Batería</ion-label>
      <ion-input formControlName="bateria"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Conectividad</ion-label>
      <ion-input formControlName="conectividad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Audio</ion-label>
      <ion-input formControlName="audio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Software incluído</ion-label>
      <ion-input formControlName="software_incluido"></ion-input>
    </ion-item>
    <ion-label *ngIf="formularioRegistroBasico.invalid || formularioRegistroDetalles.invalid" style="color: red;">Por favor ingresar todos los datos solicitados</ion-label>
  </form>
  <ion-button *ngIf="formularioRegistroBasico.valid && formularioRegistroDetalles.valid" type="submit" (click)="registrarLaptop()">Guardar</ion-button>
</div>

<div *ngIf="modo == 'detalles'">
  <img [src]="laptop.foto" width="100%"><br>
  <div align="center">
    <ion-title>{{laptop.marca}} {{laptop.modelo}}</ion-title>
  </div><br><br><br>
  <ion-label>Información general</ion-label><br>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-label>Descripción</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-text>{{laptop.descripcion}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Precio</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-text>$ {{laptop.precio}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Stock</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-text>{{laptop.stock}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Número de producto</ion-col>
      <ion-col size="8">N_{{laptop.id}}</ion-col>
    </ion-row>
  </ion-grid><br><br>
  <ion-label>Especificaciones</ion-label><br>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-label>Procesador</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-text>{{detalles.cpu}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Memoria</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-text>{{detalles.ram}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Disco duro</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-text>{{detalles.disco}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Pantalla</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-text>{{detalles.pantalla}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Gráficos</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-text>{{detalles.grafica}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Batería</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-text>{{detalles.bateria}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Conectividad</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-text>{{detalles.conectividad}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Sonido</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-text>{{detalles.audio}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid><br><br>
  <ion-button expand="block">Editar</ion-button><br>
  <ion-button expand="block">Eliminar</ion-button><br><br>
</div>
